#
### THIS FILE IS BEING CURRENTLY MANAGED BY URXVTCONFIG #####
##### CHANGES DONE TO THIS FILE MANUALLY MAY AFFECT THE FUNCTIONALITY ######
##### PROCEED WITH CAUTION! #####

! special colors
*.foreground:  #a39e9b
*.background:  #2f1e2e
*.cursorColor:  #a39e9b
! black
*.color0:      #2f1e2e
*.color8:      #776e71
! red
*.color1:      #ef6155
*.color9:      #ef6155
! green
*.color2:      #48b685
*.color10:     #48b685
! yellow
*.color3:      #fec418
*.color11:     #fec418
! blue
*.color4:      #06b6ef
*.color12:     #06b6ef
! magenta
*.color5:      #815ba4
*.color13:     #815ba4
! cyan
*.color6:      #5bc4bf
*.color14:     #5bc4bf
! white
*.color7:      #a39e9b
*.color15:     #e7e9db

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt*depth: 32
URxvt.background: [85]#2f1e2e

URxvt.font: xft:Terminus:pixelsize=20,xft:Font\ Awesome\ 5\ Brands:pixelsize=20
URxvt.letterSpace: 0

*antialias:  true
*autohint:   true

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: firefox

URxvt.matcher.button: 1

